<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stefansator.brealth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity
            android:name=".BrainMenu"
            android:label="Gehirntraining" />
        <activity android:name=".HealthMenu" />
        <activity android:name=".BrealthMenu" />
        <activity
            android:name=".BrainTaskMenu"
            android:label="Übungen" />
        <activity
            android:name=".BrainDailyMenu"
            android:label="Tägliche Aufgabe" />
        <activity
            android:name=".RechnenTaskMenu"
            android:label="Rechnen" />
        <activity
            android:name=".RechnenTask"
            android:label="Rechnen" />
        <activity
            android:name=".TaskEndscreen"
            android:label="Ergebnis" />
        <activity
            android:name=".MemoryTask"
            android:label="Memory" />
        <activity
            android:name=".naehrstoffzentrale.Zentrale"
            android:label="@string/title_activity_zentrale"
            android:parentActivityName=".HealthMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stefansator.brealth.HealthMenu" />
        </activity>
        <activity
            android:name=".LesenTask"
            android:label="Laut Lesen" />
        <activity
            android:name=".FarbenTaskMenu"
            android:label="Farben" />
        <activity
            android:name=".FarbenEasyMode"
            android:label="Farben Easy Mode" />
        <activity
            android:name=".FarbenHardMode"
            android:label="Farben Hard Mode" />
        <activity
            android:name=".FarbenEndscreen"
            android:label="Ergebnis" />
        <activity
            android:name=".BrealthUebungen"
            android:label="Uebungen" />
        <activity
            android:name=".BrealthTest"
            android:label="Test" />
        <activity
            android:name=".Logik"
            android:label="Logik" />
        <activity
            android:name=".EffortCalculatingMenu"
            android:label="EffortCalculating" />
        <activity
            android:name=".EffortCalculatingTask"
            android:label="EffortCalculating" />
        <activity
            android:name=".YogaMemoryMenu"
            android:label="YogaMemory" />
        <activity
            android:name=".YogaMemoryTask"
            android:label="YogaMemory" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".naehrstoffzentrale.NahrungDetails"
            android:parentActivityName=".naehrstoffzentrale.Zentrale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stefansator.brealth.naehrstoffzentrale.Zentrale" />

        </activity>
    </application>

</manifest>